.mainWrapper {
  width: 430px;
  height: 495px;
  background: #152433 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #000000;
  border: 4px solid #28394b;
  border-radius: 20px;
  padding: 20px;
}
.closeWrapper {
  display: flex;
  justify-content: flex-end;
}
.closeIcon {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.logoWrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
  padding-top: 5px;
}

.logoStyle {
  width: 116px;
  height: 65px;
  object-fit: contain;
  opacity: 1;
}
@media (max-width: 1200px) {
  .logoStyle {
    width: 116px;
    height: 65px;
    object-fit: contain;
    opacity: 1;
  }
}

@media (max-width: 992px) {
  .logoStyle {
    width: 116px;
    height: 65px;
  }
}

@media (max-width: 768px) {
  .logoStyle {
    width: 116px;
    height: 65px;
  }
}

@media (max-width: 576px) {
  .logoStyle {
    width: 116px;
    height: 45px;
  }
}
@media (max-width: 375px) {
  /* .logoStyle {
    width: 116px;
    height: 35px;
  } */
  /* .signUpButton {
    width: 117px;
    height: 30px;
  }
  .submitButton {
    width: 80%;
    height: 30px;
  }
  .closeIcon {
    width: 15px;
    height: 15px;
    cursor: pointer;
  } */
}

.formWrapper {
  display: flex;
  flex-direction: column;
}
.labelWrapper {
  margin-bottom: 20px;
}
.label {
  display: block;
  text-align: left;
  font: normal normal normal 16px/24px Kanit;
  letter-spacing: 0px;
  color: #7b7b8a;
  opacity: 1;
  margin-bottom: 4px;
}
.input-container {
  display: flex;
  align-items: center;
  background: #13212f;
  border-radius: 23px;
  height: 46px;
  border: 1px solid transparent;
  transition: background-color 0.3s ease;
}
.input1 {
  flex: 1;
  height: 100%;
  background: transparent;
  color: #ffffff;
  border: none;
  outline: none;
  padding: 0 5px;
}
.icon {
  width: 25px;
  height: 25px;
  opacity: 1;
  object-fit: contain;
  cursor: pointer;
  padding-right: 30px;
}
.forgotPassText {
  text-align: right;
  text-decoration: underline;
  font: normal normal normal 16px/24px Kanit;
  letter-spacing: 0px;
  color: #e1be83;
  opacity: 1;
  cursor: pointer;
}
.buttonContainer {
  display: flex;
  justify-content: center;
}
.submitButton {
  width: 80%;
  height: 52px;
  margin-top: 10px;
  background: transparent linear-gradient(180deg, #dd7411 0%, #c1620a 100%) 0%
    0% no-repeat padding-box;
  border: 2px solid #dd7411;
  border-radius: 26px;
  opacity: 1;
  color: #ffffff;
  font: normal normal normal 22px/33px Kanit;
}
.signUpWrapper {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}
.signUpButton {
  width: 117px;
  height: 47px;
  background: #0d1720 0% 0% no-repeat padding-box;
  border: 2px solid #0a0f14;
  border-radius: 10px;
  opacity: 1;
  font: normal normal normal 18px/27px Kanit;
  letter-spacing: 0px;
  color: #dd7411;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}
.signUpStyle {
  width: 26px;
  height: 26px;
  padding-right: 5px;
}
.errorText {
  color: red;
  font-weight: 600;
  padding-left: 10px;
}
