.container {
  /* max-width: 561px; */
  /* background: url('../../Assets/home/Background.png'); */
  width: 100%;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* margin-right: 1.5%; */
  padding: 20px;
  gap: 10px;
  box-sizing: border-box;
  /* Firefox */
}

.container::-webkit-scrollbar {
  display: none;
}

.accountProfileBlur {
  height: auto;
  /* UI Properties */
  background: #172634 0% 0% no-repeat padding-box;
  border: 1px solid #355471;
  padding: 10px;
  box-sizing: border-box;
  box-shadow: 0px 3px 6px #000000d6;
  border-radius: 20px;
  /* border: none;  */
  opacity: 1;
  backdrop-filter: blur(38px);
  -webkit-backdrop-filter: blur(38px);
}

.accountProfile {
  height: auto;
  /* width: 100%; */
  background: transparent linear-gradient(110deg, #0a151f 0%, #2a445b 100%) 0%
    0% no-repeat padding-box;
  border: 1px solid #2a445b;
  border-radius: 18px;
  opacity: 1;
  padding: 15px;
  opacity: 1;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.profileDetails {
  /* width: 100%; */
  display: flex;
  /* align-items: center; */
  flex-direction: column;
}

.userFullNameStyle {
  /* UI Properties */
  text-align: left;
  font: normal normal normal 18px/27px Kanit;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}

.imgStyle {
  width: 22px;
  height: 23px;
  opacity: 1;
  object-fit: contain;
}

.levelStyle {
  display: flex;
  color: white;
  cursor: pointer;
  gap: 2%;
  width: 100%;
  height: 10%;
}

.levelNameStyle {
    text-align: left;
    font: normal normal normal 16px/24px Kanit;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    line-height: 24px;
  margin-right: auto;
}

.userTextContainer {
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
  font-family: Roboto;
  letter-spacing: 0px;
  color: white;
  opacity: 1;
  /* overflow: hidden; */
  white-space: nowrap;
  /* text-overflow: ellipsis; */
  max-width: fit-content;
  width: 100%;
  gap: 5px;
  display: flex;
  justify-content: start;
}

.balanceTextContainer {
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 34px;
  font-family: Roboto;
  letter-spacing: 0px;
  color: #8db4d8;
  opacity: 1;
  /* overflow: hidden; */
  white-space: nowrap;
  /* text-overflow: ellipsis; */
  max-width: fit-content;
  width: 100%;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  justify-content: start;
  /* gap: 10px; */
}

.profileBalanceAmount {
  /* UI Properties */
  text-align: left;
  font: normal normal normal 26px/39px Kanit;
  letter-spacing: 0px;
  color: #8db4d8;
  opacity: 1;
}

.userNameStyle {
  /* UI Properties */
  text-align: center;
  font: normal normal normal 14px/21px Kanit;
  letter-spacing: 0px;
  color: #f3f5f7;
  opacity: 1;
  /* font-style: normal; 
    font-variant: normal; 
    font-weight: normal; 
    font-size: 12px; 
    line-height: 24px; 
    font-family: Roboto; 
    letter-spacing: 0px; 
    color: #ffffff; 
    opacity: 1;  */
  margin-top: 10px;
  margin-right: auto;
}

.newtextStyle {
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 5px;
  font-family: Roboto;
  letter-spacing: 0px;
  color: #ffd31d;
  text-transform: capitalize;
  opacity: 1;
  margin-top: 10px;
  margin-right: auto;
}

@media (min-width: 568px) {
  .balanceTextContainer {
    max-width: 270px;
  }
}

@media (max-width: 568px) {
  .balanceTextContainer {
    max-width: 250px;
  }
}

@media (max-width: 528px) {
  .balanceTextContainer {
    max-width: 200px;
  }
}

@media (max-width: 479px) {
  /* .accountProfile { 
      justify-content: center; 
    } */

  .balanceTextContainer {
    max-width: 200px;
  }

  .profileDetails {
    /* justify-content: center; */
  }

  .profileDateStyling {
    margin-left: 0px;
  }
}
@media (max-width: 370px) {
  .balanceTextContainer {
    text-align: center;
  }
}
